body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.highlight:hover{
	color: #616161;
	
}
.pagination li.active{
	background-color: #616161;
}

/* label color */
   .input-field label {
     color: #ffffff;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ffffff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #616161;
     box-shadow: 0 1px 0 0 #616161;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #388e3c;
     box-shadow: 0 1px 0 0 #388e3c;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #d50000;
     box-shadow: 0 1px 0 0 #d50000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #616161;
   }
	 .input-field .materialize-textarea{
		 color: #ffffff;
	 }
	 .input-field .materialize-textarea:focus{
		 border-bottom: 1px solid #616161;
     box-shadow: 0 1px 0 0 #616161;
	 }
	 textarea.materialize-textarea:focus:not([readonly]){
		 border-bottom: 1px solid #616161;
     box-shadow: 0 1px 0 0 #616161;
	 }
	 .input-field input[type=number]:focus + label {
     color: #ffffff;
   }
   /* label underline focus color */
   .input-field input[type=number]:focus {
     border-bottom: 1px solid #616161;
     box-shadow: 0 1px 0 0 #616161;
   }
   /* valid color */
   .input-field input[type=number].valid {
     border-bottom: 1px solid #388e3c;
     box-shadow: 0 1px 0 0 #388e3c;
   }
   /* invalid color */
   .input-field input[type=number].invalid {
     border-bottom: 1px solid #d50000;
     box-shadow: 0 1px 0 0 #d50000;
   }
	 .input-field input[type=number] {
     color: #ffffff;
   }
   
   .dropdown-content{
     background-color: #212121;
     color: #ffffff;
   }